<%- include('header') -%>
<div class="text-center">
    <h2>Szomszédok piaca</h2>
</div>


<%- include('menu') -%>

<p class="text-center welcometext" >Üdvözöljük a szomszédok piacán!<br>
Vegyen fel új előadót, ajánlatot vagy böngésszen kedvére és szerkessze a meglévőket!
</p>

<%- include('footer') -%>