<nav class="navbar navbar-expand-sm">
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a href="/" class="nav-link">Főoldal</a>
        </li>
        <li class="nav-item">
           <a href="/ajanlat" class="nav-link">Ajánlatok</a>
        </li>
        <li class="nav-item">
            <a href="/elado" class="nav-link">Eladók</a>
        </li>
    </ul>
</nav>